.card {
    width: 21vw;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 1em;
    padding-bottom: 1.5em;
}

.subtitle {
    font-family: "Titillium Web";
    font-size: 14pt;
    font-weight: bold;
    text-align: left;
    margin-top: 0.5em;
}

.controls-container {
    display: grid;
    grid-template-columns: auto 36px;
    margin-bottom: -0.5em;
    margin-top: -0.45em;
}

.add-button {
    margin-top: 0;
}

button {
    align-self: flex-end;
    font-weight: 500;
    margin-top: -0.5em;
    font-size: 11pt;
    letter-spacing: .2rem;
}

.profile-container {
    padding-top: 0.5em;
}

.profile-info {
    padding: 0;
    padding-left: 1em;
    display: grid;
    grid-template-columns: 32px auto;
    align-self: center;
}

.email {
    font-family: 'Titillium Web';
    font-size: 11.5pt;
    margin-bottom: 0;
}

.confirm {
    margin-right: -0.85em;
}