.card {
    width: 21vw;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 2em;
    padding-bottom: 1.5em;
}

h1 {
    font-family: 'Economica';
    text-align: center;
}

.subtitle {
    font-family: "Titillium Web";
    font-size: 17pt;
    font-weight: bold;
    text-align: left;
    margin-top: 0.2em;
}

.route-content {
    padding-right: 0.5em;
}

.price {
    font-family: "Economica";
    font-size: 28pt;
    text-align: right;
    margin-bottom: -0.5em;
}

.details {
    font-family: "Titillium Web";
    font-size: 15pt;
    text-align: right;
    margin-top: -0.5em;
}

#vehicle-info {
    font-family: 'Titillium Web';
    font-size: 13pt;
    margin-bottom: 0;
    text-align: center;
}

.profile-container {
    padding-top: 1em;
    padding-bottom: 0.5em;
}

.profile-info {
    padding: 0;
    padding-top: 0.4em;
    padding-left: 0.25em;
}

.profile-image {
    border-radius: 50%;
    align-self: center;
}

.value-item {
    font-family: 'Titillium Web';
    font-weight: bold;
    font-size: 15pt;
    text-align: end;
    margin-right: 1em;
    margin-bottom: 0;
}
.phone {
    font-family: 'Titillium Web';
    text-align: end;
    font-size: 13pt;
    margin-right: 1.2em;
    margin-bottom: 0;
}

.button {
    z-index: 55;
    letter-spacing: .2rem;
    padding: 1.65em;
    margin-top: 0.45em;
    border-radius: 0.65em;
    border-width: 0;
    width: 100%;
}
