<div class="card semi-transparent drop-shadow">

    <div class="row route-content">
        <div class="col-5 d-flex align-items-center justify-content-center">
            <h1 class="subtitle">{{rideName}}</h1>
        </div>
        <div class="col-7 align-items-center justify-content-center">
            <p class="price">{{ride.totalCost}}din</p>
            <hr>
            <p class="details">{{ride.estimatedTimeInMinutes}}min | {{ride.distance>1000 ? ride.distance.toFixed(1) + "km" : ride.distance + "m"}}</p>
            <!--{{estimate.distance.toFixed(1)}}-->
        </div>
    </div>

    <hr>
    <div class="transport-details">
        <p class="transport-option" [ngStyle]="{ 'font-weight' :  ride.babyTransport ? 500 : 400, 'opacity' : ride.babyTransport ? 1 : 0.4 }">BABY</p>
        <p class="transport-option" [ngStyle]="{ 'font-weight' :  ride.petTransport ? 500 : 400, 'opacity' : ride.petTransport ? 1 : 0.4 }">PETS</p>
    </div>
    <hr>

    <div class="row profile-container" *ngFor="let user of ride.passengers">
        <img class="col-3 profile-image" src='{{user.profilePicture | urlSentizer}}'/>
        <div class="col-9 profile-info">
            <p class="value-item">{{user.name}} {{user.surname}}</p>
            <p class="email">{{user.email}}</p>
        </div>
        <hr *ngIf="ride.passengers[ride.passengers.length-1].id != user.id" style="margin-top: 1.75em; width: 16.5vw; margin-left: 1.5vh;">
    </div>

</div>
<div class="buttons">
    <button *ngIf="isStartVisible" class="button" mat-flat-button color="primary" (click)="startClick()">START</button>
    <button *ngIf="isRejectVisible" class="button" mat-flat-button color="warn" (click)="rejectClick()">REJECT</button>
    <button *ngIf="isEndVisible" class="button" mat-flat-button color="primary" (click)="endClick()">END</button>
    <button *ngIf="isPanicVisible" class="button" mat-flat-button color="warn" (click)="panicClick()">PANIC</button>
</div>
