.button {
    align-self: flex-end;
    font-weight: bold;
}

.header {
    font-size: 30pt;
    margin-left: 0.6em;
    margin-right: 1em;
    margin-top: 0.5em;
    margin-bottom: -0.15em;
    opacity: 0.75;
}

mat-form-field {
    margin-bottom: -0.5em;
    width: 20em;
}