<div class="daimler-change-password-main">
    <app-nav-main></app-nav-main>
    <div class="daimler-change-password-div row d-flex align-items-center justify-content-center">
        <div class="left-div col-4"></div>
        <div *ngIf="showForm" class="change-password-content col-3">
            <h1 class="header">CHANGE PASSWORD</h1>
            <form
                class="form"
                [formGroup]="changePasswordForm"
                (ngSubmit)="submit($event)">
            <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput [type]="hidePassword ? 'password' : 'text'"
                 name="password" formControlName="password">
                <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword; prevent($event)"
                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
                    <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Confirm password</mat-label>
                <input matInput [type]="hideConfirmPassword ? 'password' : 'text'"
                 name="confirmPassword" formControlName="confirmPassword">
                <button mat-icon-button matSuffix (click)="hideConfirmPassword = !hideConfirmPassword; prevent($event)"
                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideConfirmPassword">
                    <mat-icon>{{hideConfirmPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
            <button mat-raised-button color="primary"
                type="submit">CHANGE PASSWORD</button>
            </form>
        </div>
        <div class="right-div col-4"></div>
    </div>
    <div *ngIf="!showForm" class="successful-change-content row d-flex align-items-center justify-content-center">
        <h1>Password has been changed</h1>
        <p>Please login to continue</p>
    </div>
</div>
