<div class="card semi-transparent drop-shadow">
    <div class="row">

       <div class="col-6 option">
            <img class="image-icon" src="./assets/solo.png"/>
            <button id="passenger-count-solo" class="confirm-ride" mat-button color="primary" (click)="soloClick()">SOLO</button>
        </div>

        <div class="col-6 option">
            <img class="image-icon" src="./assets/group.png"/>
            <button id="passenger-count-group" class="confirm-ride" mat-button color="primary" (click)="groupClick()">GROUP</button>
        </div> 
        
    </div>
</div>